{% extends "base.html.twig" %}

{% block body %}
	{% if not form.vars.valid %}
		<div class="alert alert-error">
			{{ form_errors(form) }}
		</div>
		{%endif%}
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit">Add program</button>
		{{ form_end(form) }}
	{% endblock %}
