@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;1,400&family=Fjord+One&family=Gafata&display=swap');

$primary : #aaace4;
$secondary: #392179;
$dark: #1a133f;
$light: #EFEEEE;

@import "~bootstrap/scss/bootstrap";

$header-font: 'Familjen Grotesk', sans-serif;
$title-font: 'Fjord One', serif;
$main-font: 'Gafata', sans-serif;

body {
    height: 100%;
    background-color: rgba(248,249,255,1);
    background: linear-gradient(180deg, rgba(170,172,228,1) 10%, rgba(210,211,224,1) 29%, rgba(248,249,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.welcome {
    font-size: 10rem;
    font-family: $title-font;
}

.navbar-brand {
    font-family: $header-font;
    font-size: 2rem;
    text-shadow: 1px 1px 1px $light;
}

.logo {
    height: 30px;
    width: 30px;
}

.nav-item {
    font-family: $main-font;
    font-size: 1.2rem; 
}

.bi-tv {
    height: 2rem;
}

.page-title {
    font-size: 4rem;
    font-family: $title-font;
    -webkit-text-stroke: 1px $secondary;
    text-shadow: 1px 1px 1px $secondary;
}

.card-title {
    font-family: $header-font;
    color: $secondary;
    font-size: 2rem;
}

.card-text {
    font-family: $main-font;
}

a {
    color: $secondary;
    text-decoration: none;
}

a:hover {
    color: $light;
}

.btn {
    opacity: 90%;
}

.btn:hover {
    opacity:100%;
}

.media {
    border: 2px solid $secondary;
}