{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<div class="container-fluid">
<h1 class="text-secondary text-center bs-body-font-family mt-5 welcome">Bienvenue</h1>
</div>
{% endblock %}